#error {
    color: red;
    border: 1px solid red;
    padding: 5px;
    display: none;
    width: 50vw;
}

#result {
    padding: 20px;
}

p {
    display: block;
    text-align: right;
}

input, select {
    width: 100px;
}

form {
	border: 1px solid black;
}